<div class="container" xmlns:th="http://www.thymeleaf.org">
    <div class="row">
        <div class="col-md-5">
            <form method="POST" action="/balloons/add">
                <div class="form-group">
                    <input type="hidden" name="id" id="id" th:value="(${balloon} != null ? ${balloon.getId() } : '')"/>
                    <label for="name">Balloon name</label>
                    <input type="text" id="name" name="name"
                           required
                           class="form-control"
                           placeholder="Name of the balloon"
                           th:value="(${balloon} != null ? ${balloon.getName() } : '')"
                    >
                </div>
                <div class="form-group">
                    <label for="description">Balloon description</label>
                    <input type="text" id="description"
                           name="description" required
                           class="form-control"
                           placeholder="description for the balloon"
                           th:value="(${balloon} != null ? ${balloon.getDescription()} : '')">
                </div>
                <div class="form-group">
                    <label for="manufacturer">Manufacturer</label>
                    <select name="manufacturer" id="manufacturer" class="form-control">
                        <option th:if="${balloon} != null"
                                th:each="man: ${manufacturers}"
                                th:selected="${balloon.getManufacturer() != null && balloon.getManufacturer().getId() == man.getId()}"
                                th:value="${man.getId()}"
                                th:text="${man.getName()}">
                        </option>
                        <option th:if="${balloon} == null"
                                th:each="man: ${manufacturers}"
                                th:value="${man.getId()}"
                                th:text="${man.getName()}">
                        </option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="balloonType">Balloon Type</label>
                    <select name="type" id="balloonType" class="form-control">
                        <option th:if="${balloon} != null"
                                th:selected="${balloon.getBalloonType() != null && balloon.getBalloonType() == type1}"
                                th:value="${type1}"
                                th:text="${type1}">
                        </option>
                        <option th:if="${balloon} == null"
                                th:value="${type1}"
                                th:text="${type1}">
                        </option>
                        <option th:if="${balloon} != null"
                                th:selected="${balloon.getBalloonType() != null && balloon.getBalloonType() == type2}"
                                th:value="${type2}"
                                th:text="${type2}">
                        </option>
                        <option th:if="${balloon} == null"
                                th:value="${type2}"
                                th:text="${type2}">
                        </option>
                        <option th:if="${balloon} != null"
                                th:selected="${balloon.getBalloonType() != null && balloon.getBalloonType() == type3}"
                                th:value="${type3}"
                                th:text="${type3}">
                        </option>
                        <option th:if="${balloon} == null"
                                th:value="${type3}"
                                th:text="${type3}">
                        </option>
                        <option th:if="${balloon} != null"
                                th:selected="${balloon.getBalloonType() != null && balloon.getBalloonType() == type1}"
                                th:value="${type4}"
                                th:text="${type4}">
                        </option>
                        <option th:if="${balloon} == null"
                                th:value="${type4}"
                                th:text="${type4}">
                        </option>
                    </select>
                </div>
                <!--<input type="hidden" th:if="${update}" th:value="true">-->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>