<th:block xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<section>
    <header>
        <h1>Balloon Order page - Order confirmation </h1>
    </header>
    <table>
        <tr>
            <th colspan="2">
                Your Order Status
            </th>
        </tr>
        <tr>
            <td><b>Client Name </b></td>
            <td><th:block th:text="${clientName}"/></td>
        </tr>
        <tr>
            <td><b>Client Address </b></td>
            <td><th:block th:text="${clientAddress}"/></td>
        </tr>
        <tr>
            <td><b>Client IP Address</b></td>
            <td><th:block th:text="${clientsIpAddress}"/></td>
        </tr>
        <tr>
            <td><b>Client Browser</b></td>
            <td><th:block th:text="${clientsBrowser}"/></td>
        </tr>
        <tr>
            <td><b>Balloon Color </b></td>
            <td><th:block th:text="${clientsColor}"/></td>
        </tr>
        <tr>
            <td><b>Balloon Size </b></td>
            <td><th:block th:text="${clientsSize}"/></td>
        </tr>
    </table>
    <div>
        <div class="form-group">
            <a class="btn btn-primary form-control" href="/logout">Log out</a>
        </div>
        <div class="form-group">
            <a href="/order/orders" class="btn btn-primary form-control">See all orders!</a>
        </div>
        <div class="form-group">
            <a href="/balloons" class="btn btn-primary form-control">Go and make new orders!!</a>
        </div>
    </div>


</section>
</th:block>
