<th:block xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
    <header>
        <h1>Welcome to our Balloon Shop App</h1>

        <div th:if="${hasError}">
            <div th:text="${error}" class="text-danger"></div>
        </div>


    </header>

    <main>
        <h2>Choose balloon color:</h2>
        <div class="container">
            <div class="row">
                <!--<div class="col-md-1">
                    <form th:action="@{/selectBalloonSize}" th:method="POST">
                        <table>
                            <thead>
                            <th>Check one!</th>
                            </thead>
                            <tbody>
                            <tr th:each="balloon : ${balloons}">
                                <td style="padding-bottom: 64px;">
                                    <input type="radio" name="color" th:value="${balloon.getName()}"/>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <input type="submit" class="btn btn-success" value="Submit"/>
                    </form>
                </div>-->
                <div class="col-md-2">
                    <table>
                        <thead>
                        <th>Name</th>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th>Delete</th>
                        </th:block>
                        <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                            <th>Edit</th>
                        </th:block>
                        <th>Order</th>
                        </thead>
                        <tbody>
                        <tr th:each="balloon: ${balloons}">
                            <td th:text="${balloon.getName()}">
                            </td>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <td>
                                    <form th:method="DELETE"
                                          th:action="@{'/balloons/delete/{id}'(id = ${balloon.getId()})} ">
                                        <button type="submit" class="btn btn-primary btn-danger delete-button">Delete</button>
                                    </form>
                                </td>
                            </th:block>
                            <th:block sec:authorize="hasRole('ROLE_ADMIN')">
                                <td>
                                    <a th:href="@{'/balloons/edit-form/{id}' (id = ${balloon.getId()})}"
                                       class="btn btn-info edit-button">Edit</a>
                                </td>
                            </th:block>
                            <td sec:authorize="isAuthenticated()">
                                <form th:action="@{/selectBalloonSize}" th:method="POST">
                                    <button type="submit"
                                            name="color"
                                            th:value="${balloon.getName()}"
                                            class="btn btn-primary order-button">Order</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" sec:authorize="hasRole('ROLE_ADMIN')">
                <div class="col-md-5">
                    <a href="/balloons/add-form" class="btn btn-dark add-button">Add new Balloon</a>
                </div>
            </div>
        </div>
    </main>
</th:block>