<th:block xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="row">
            <div class="col">
                <table class="table table-stripped">
                    <thead>
                    <th>ID</th>
                    <th>Balloon Size</th>
                    <th>Balloon Color</th>
                    </thead>
                    <tbody>
                    <tr th:each="order: ${orders}">
                        <td th:text="${order.getOrderId()}"></td>
                        <td th:text="${order.getBalloonSize()}"></td>
                        <td th:text="${order.getBalloonColor()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</th:block>